<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_field :question %>
  </div>
  <div class="field">
  <%= f.fields_for :answers do |b| %>
    <div class="field">
        <%= b.radio_button :answer, '0' %>active
        <%= b.radio_button :answer, '1' %> inactive
        <%= b.radio_button :answer, '2' %> blocked
      </td>
    </div>
     <div class="field">
        <%= b.radio_button :answer, '0' %>active
        <%= b.radio_button :answer, '1' %> inactive
        <%= b.radio_button :answer, '2' %> blocked
      </td>
    </div>
     <div class="field">
        <%= b.radio_button :answer, '0' %>active
        <%= b.radio_button :answer, '1' %> inactive
        <%= b.radio_button :answer, '2' %> blocked
      </td>
    </div>
     <div class="field">
        <%= b.radio_button :answer, '0' %>active
        <%= b.radio_button :answer, '1' %> inactive
        <%= b.radio_button :answer, '2' %> blocked
      </td>
    </div>
     <div class="field">
        <%= b.radio_button :answer, '0' %>active
        <%= b.radio_button :answer, '1' %> inactive
        <%= b.radio_button :answer, '2' %> blocked
      </td>
    </div>
  <%end%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
