<%- model_class = Author -%>
<div style="background-color:lightyellow;"></br></br></br>

<div class="page-header">
  <h1 style="margin-left:400px; margin-top:10px;"> The below are the details of the author:</h1>
</div>
<div style="margin-left:550px; margin-top:60px;">
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>: &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= @author.name %></strong></dt>
  <dt><strong><%= model_class.human_attribute_name(:age) %>:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;<%= @author.age %></strong></dt>
  <dt><strong><%= model_class.human_attribute_name(:unique_name) %>:&nbsp; &nbsp; &nbsp;<%= @author.unique_name  %></strong></dt>
</dl>

<h3 class="form-actions" style="margin-left:-10px; margin-top:100px;">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              authors_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_author_path(@author), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              author_path(@author),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</h3>
<h3 style="margin-left:-90px; margin-top:90px;">Please click the button to create a new author:&nbsp; &nbsp;<%= link_to 'New Author', :controller =>"authors", :action =>"new" %></hr>
<div style="background-color:lightyellow;"></br></br></br>
  <div style="background-color:lightyellow;"></br></br></br>
<div style="background-color:lightyellow;"></br></br></br>
<div style="background-color:lightyellow;"></br></br></br>
<div style="background-color:lightyellow;"></br></br></br>
<div style="background-color:lightyellow;"></br></br></br>
<div style="background-color:lightyellow;"></br></br></br>
<div style="background-color:lightyellow;"></br></br></br>
<div style="background-color:lightyellow;"></br></br></br>

