<div style="background-color:lightgreen;"></br></br></br>
 
<div id="img8"></div>
<h2 style="color:green;margin-left:332px;"></h2></br>
<div id="imge">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div style="float:left;margin-left:70px;margin-top:170px">
  <%= f.email_field :email, :autofocus => true, :class => "span2"%></div>	
  <div style="float:left;margin-left:20px;margin-top:152px"><br />
  <%= f.password_field :password ,:class => "span2" %></div>

  <% if devise_mapping.rememberable? -%>
    <div style="float:left;color:green;margin-left:-350px;margin-top:205px"><%= f.check_box :remember_me %><b>remember me</b></div>
  <h5 style="float:left;color:green;margin-left:-350px;margin-top:240px;"><b><%= link_to "Sign up", new_registration_path(resource_name) %></b><br /></h5>

  <% end -%>

  <div style="float:left;margin-left:-115px;margin-top:219px"><%= f.submit "" %></div>  
<% end %>
</div>
<div id="img10"></div>
</br></br></br></br></br></br></br>
<div style="margin-left:22px;margin-top:195px;"><inc></div>
</div>
</br></br></br></br></br></br></br>
<style type="text/css" media="screen">
 #imge {
        background-image: url("/assets/login-form-step-3-b.jpg");
        background-repeat: no-repeat;
        background-position: top left;
        height: 400px;
        width: 700px;
        margin-left:400px;
        }

        #img1 {
        background-image: url("/assets/login_icon.jpg");
        background-repeat: no-repeat;
        background-position: top left;
        height: 50px;
        width: 200px;
        margin-left:500px;
        }

   #img8 {
        background-image: url("/assets/login.png");
        background-repeat: no-repeat;
        background-position: top left;
        height: 100px;
        width: 300px;
        margin-left:550px;
        }

        #img10 {
        background-image: url("/assets/create-login-final.jpg");
        background-repeat: no-repeat;
        background-position: top left;
        height: 500px;
        width: 300px;
        margin-left:10px;
        margin-top:-400px;
        }

 input[type="submit"]
{
  background:url(/assets/login_icon.jpg);
   height: 50px;
   width: 115px;
}
 </style>
