
<%= form_for @exam, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
   <h4 > 1Never mix an acid with water in Lab: <h4>
    <div class="controls">
      <%= f.radio_button :answer1, 'Yes', :class => 'number_field' %>Yes
      <%= f.radio_button :answer1, 'No', :class => 'number_field' %>No
      <%= f.radio_button :answer1, 'None of both', :class => 'number_field' %>None of both
      <%= f.radio_button :answer1, 'Both are correct', :class => 'number_field' %>Both are correct
    </div>
  </div>
  <div class="control-group">
   <h4 > 2)Never eat near your work place: <h4>
    <div class="controls">  
      <%= f.radio_button :answer2, 'Yes', :class => 'number_field' %>Yes
      <%= f.radio_button :answer2, 'No', :class => 'number_field' %>No
      <%= f.radio_button :answer2, 'None of both', :class => 'number_field' %>Non of both
      <%= f.radio_button :answer2, 'Both are correct', :class => 'number_field' %>Both are correct
    </div>
  </div>
  <div class="control-group">
   <h4 > 3)Null and alternative hypotheses are statements about: <h4>
    <div class="controls">
      <%= f.radio_button :answer3, 'Yes', :class => 'number_field' %>Yes
      <%= f.radio_button :answer3, 'No', :class => 'number_field' %>No
      <%= f.radio_button :answer3, 'None of both', :class => 'number_field' %>Non of both  
      <%= f.radio_button :answer3, 'Both are correct', :class => 'number_field' %>Both are correct      
    </div>
  </div>
  <div class="control-group">
   <h4 > 4)Regarding the definition of the firm, the GIPS Standards require all of the following: <h4>
    <div class="controls">
      <%= f.radio_button :answer4, 'Yes', :class => 'number_field' %>Yes
      <%= f.radio_button :answer4, 'No', :class => 'number_field' %>No
      <%= f.radio_button :answer4, 'None of both', :class => 'number_field' %>Non of both   
      <%= f.radio_button :answer4, 'Both are correct', :class => 'number_field' %>Both are correct      
    </div>
  </div>
  <div class="control-group">
   <h4 > 5)Under which measurement scale is data categorized, but not ranked? : <h4>
    <div class="controls">
      <%= f.radio_button :answer5, 'Yes', :class => 'number_field' %>Yes
      <%= f.radio_button :answer5, 'No', :class => 'number_field' %>No
      <%= f.radio_button :answer5, 'None of both', :class => 'number_field' %>Non of both  
      <%= f.radio_button :answer5, 'Both are correct', :class => 'number_field' %>Both are correct      
   </div>
  </div>
  <div class="control-group">
   <h4 > 6)All the files are in Adobe Acrobat Reader (PDF) format.: <h4>
    <div class="controls">
      <%= f.radio_button :answer6, 'Yes', :class => 'number_field' %>Yes
      <%= f.radio_button :answer6, 'No', :class => 'number_field' %>No
      <%= f.radio_button :answer6, 'None of both', :class => 'number_field' %>Non of both  
      <%= f.radio_button :answer6, 'Both are correct', :class => 'number_field' %>Both are correct      
    </div>
  </div>
  <div class="control-group">
   <h4 > 7)ETS.org is an Internet site maintained by Educational Testing Service (ETS): <h4>
    <div class="controls">
      <%= f.radio_button :answer7, 'Yes', :class => 'number_field' %>Yes
      <%= f.radio_button :answer7, 'No', :class => 'number_field' %>No
      <%= f.radio_button :answer7, 'None of both', :class => 'number_field' %>Non of both  
      <%= f.radio_button :answer7, 'Both are correct', :class => 'number_field' %>Both are correct      
    </div>
  </div>
  <div class="control-group">
   <h4 > 8)preferred shareholders will rank below debt holders should the company file for : <h4>
    <div class="controls">
      <%= f.radio_button :answer8, 'Yes', :class => 'number_field' %>Yes
      <%= f.radio_button :answer8, 'No', :class => 'number_field' %>No
      <%= f.radio_button :answer8, 'None of both', :class => 'number_field' %>Non of both
      <%= f.radio_button :answer8, 'Both are correct', :class => 'number_field' %>Both are correct      
    </div>
  </div> 

  <div class="form-actions">
    <%= f.submit 'done with the exam',:class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                exams_path, :class => 'btn' %>
  </div>
<% end %>




