<%= form_for @exam, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
   <h4 > 1Never mix an acid with water in Lab: <h4>
    <div class="controls">
      <%= f.radio_button :answer1, 'Yes', :class => 'number_field' %>Yes
      <%= f.radio_button :answer1, 'No', :class => 'number_field' %>No
      <%= f.radio_button :answer1, 'None of the both', :class => 'number_field' %>None of the both
    </div>
  </div>
  <div class="control-group">
   <h4 > 2)Never eat near your work place: <h4>
    <div class="controls">  
      <%= f.radio_button :answer2, 'Yes', :class => 'number_field' %>Yes
      <%= f.radio_button :answer2, 'No', :class => 'number_field' %>No
      <%= f.radio_button :answer2, 'None of both', :class => 'number_field' %>Non of both
    </div>
  </div>
  <div class="control-group">
   <h4 > 3)Null and alternative hypotheses are statements about: <h4>
    <div class="controls">
      <%= f.radio_button :answer3, 'Yes', :class => 'number_field' %>Yes
      <%= f.radio_button :answer3, 'No', :class => 'number_field' %>No
      <%= f.radio_button :answer3, 'None of both', :class => 'number_field' %>Non of both  
    </div>
  </div>
  <div class="control-group">
   <h4 > 4)Null and alternative hypotheses are statements about: <h4>
    <div class="controls">
      <%= f.radio_button :answer4, 'Yes', :class => 'number_field' %>Yes
      <%= f.radio_button :answer4, 'No', :class => 'number_field' %>No
      <%= f.radio_button :answer4, 'None of both', :class => 'number_field' %>Non of both   
    </div>
  </div>
  <div class="control-group">
   <h4 > 5)Null and alternative hypotheses are statements about: <h4>
    <div class="controls">
      <%= f.radio_button :answer5, 'Yes', :class => 'number_field' %>Yes
      <%= f.radio_button :answer5, 'No', :class => 'number_field' %>No
      <%= f.radio_button :answer5, 'None of both', :class => 'number_field' %>Non of both  
   </div>
  </div>
  <div class="control-group">
   <h4 > 6)Null and alternative hypotheses are statements about: <h4>
    <div class="controls">
      <%= f.radio_button :answer6, 'Yes', :class => 'number_field' %>Yes
      <%= f.radio_button :answer6, 'No', :class => 'number_field' %>No
      <%= f.radio_button :answer6, 'None of both', :class => 'number_field' %>Non of both  
    </div>
  </div>
  <div class="control-group">
   <h4 > 7)Null and alternative hypotheses are statements about: <h4>
    <div class="controls">
      <%= f.radio_button :answer7, 'Yes', :class => 'number_field' %>Yes
      <%= f.radio_button :answer7, 'No', :class => 'number_field' %>No
      <%= f.radio_button :answer7, 'None of both', :class => 'number_field' %>Non of both  
    </div>
  </div>
  <div class="control-group">
   <h4 > 8)Null and alternative hypotheses are statements about: <h4>
    <div class="controls">
      <%= f.radio_button :answer8, 'Yes', :class => 'number_field' %>Yes
      <%= f.radio_button :answer8, 'No', :class => 'number_field' %>No
      <%= f.radio_button :answer8, 'None of both', :class => 'number_field' %>Non of both
    </div>
  </div> 

  <div class="form-actions">
    <%= f.submit 'done with the exam' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                exams_path, :class => 'btn' %>
  </div>
<% end %>
