<%- model_class = Exam -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:answer1) %>:</strong></dt>
  <dd><%= @exam.answer1 %>
 <% if @exam.answer1=="None of both" %> <b>( Congrats This is correct answer: you have scrored 1 mark)</b>
 <% else %>
 <b>( Sorry the answer is incorrect: the correct one is: None of the both)</b>
  <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:answer2) %>:</strong></dt>
  <dd><%= @exam.answer2 %>
<% if @exam.answer2=="No" %> <b>( Congrats This is correct answer: you have scrored 1 mark)</b>
 <% else %>
 <b>( Sorry the answer is incorrect: the correct one is: No)</b>
  <% end %>
  </dd>  
  <dt><strong><%= model_class.human_attribute_name(:answer3) %>:</strong></dt>
  <dd><%= @exam.answer3 %>
<% if @exam.answer3=="Yes" %> <b>( Congrats This is correct answer: you have scrored 1 mark)</b>
 <% else %>
 <b>( Sorry the answer is incorrect: the correct one is: Yes)</b>
  <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:answer4) %>:</strong></dt>
  <dd><%= @exam.answer4 %>
    <% if @exam.answer4=="Yes" %> <b>( Congrats This is correct answer: you have scrored 1 mark)</b>
 <% else %>
 <b>( Sorry the answer is incorrect: the correct one is: Yes)</b>
  <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:answer5) %>:</strong></dt>
  <dd><%= @exam.answer5 %>
    <% if @exam.answer5=="No" %> <b>( Congrats This is correct answer: you have scrored 1 mark)</b>
 <% else %>
 <b>( Sorry the answer is incorrect: the correct one is: None of the both)</b>
  <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:answer6) %>:</strong></dt>
  <dd><%= @exam.answer6 %>
    <% if @exam.answer6=="None of both" %> <b>( Congrats This is correct answer: you have scrored 1 mark)</b>
 <% else %>
 <b>( Sorry the answer is incorrect: the correct one is: None of the both)</b>
  <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:answer7) %>:</strong></dt>
  <dd><%= @exam.answer7 %>
    <% if @exam.answer7=="None of both" %> <b>( Congrats This is correct answer: you have scrored 1 mark)</b>
 <% else %>
 <b>( Sorry the answer is incorrect: the correct one is: None of the both)</b>
  <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:answer8) %>:</strong></dt>
  <dd><%= @exam.answer8 %>
    <% if @exam.answer8=="None of both" %> <b>( Congrats This is correct answer: you have scrored 1 mark)</b>
 <% else %>
 <b>( Sorry the answer is incorrect: the correct one is: None of the both)</b>
  <% end %>
  </dd>
  <% if @exam.answer1=="None of both" and @exam.answer2=="No" and @exam.answer3=="Yes" and @exam.answer4=="Yes" and @exam.answer5=="No" and @exam.answer6=="None of both" and @exam.answer7=="None of both" and @exam.answer8=="None of both" %> 
  <h3><dd>The total marks scored by you is 8</dd><h3>
 <% elsif @exam.answer1!="None of both" and @exam.answer2=="No" and @exam.answer3=="Yes" and @exam.answer4=="Yes" and @exam.answer5=="No" and @exam.answer6=="None of both" and @exam.answer7=="None of both" and @exam.answer8=="None of both" %> 
   <h3><dd>The total marks scored by you is 7</dd><h3>
    <% elsif @exam.answer1=="None of both" and @exam.answer2!="No" and @exam.answer3=="Yes" and @exam.nswer4=="Yes" and @exam.answer5=="No" and @exam.answer6=="None of both" and @exam.answer7=="None of both" and @exam.answer8=="None of both" %>
       <h3><dd>The total marks scored by you is 7</dd><h3>
 <% elsif @exam.answer1=="None of both" and @exam.answer2=="No" and @exam.answer3!="Yes" and @exam.answer4=="Yes" and @exam.answer5=="No" and @exam.answer6=="None of both" and @exam.answer7=="None of both" and @exam.answer8=="None of both" %>
        <h3><dd>The total marks scored by you is 7</dd><h3>
<% elsif @exam.answer1=="None of both" and @exam.answer2=="No" and @exam.answer3=="Yes" and @exam.answer4!="Yes" and @exam.answer5=="No" and @exam.answer6=="None of both" and @exam.answer7=="None of both" and @exam.answer8=="None of both" %>
        <h3><dd>The total marks scored by you is 7</dd><h3>
<% elsif @exam.answer1=="None of both" and @exam.answer2=="No" and @exam.answer3=="Yes" and @exam.answer4=="Yes" and @exam.answer5!="No" and @exam.answer6=="None of both" and @exam.answer7=="None of both" and @exam.answer8=="None of both" %>
        <h3><dd>The total marks scored by you is 7</dd><h3>
 <% elsif @exam.answer1=="None of both" and @exam.answer2=="No" and @exam.answer3=="Yes" and @exam.answer4=="Yes" and @exam.answer5=="No" and @exam.answer6!="None of both" and @exam.answer7=="None of both" and @exam.answer8=="None of both" %>
         <h3><dd>The total marks scored by you is 7</dd><h3>
  <% elsif @exam.answer1=="None of both" and @exam.answer2=="No" and @exam.answer3="Yes" and @exam.answer4=="Yes" and @exam.answer5=="No" and @exam.answer6=="None of both" and @exam.answer7!="None of both" and @exam.answer8=="None of both" %>
         <h3><dd>The total marks scored by you is 7</dd><h3>
  <% elsif @exam.answer1=="None of both" and @exam.answer2=="No" and @exam.answer3=="Yes" and @exam.answer4=="Yes" and @exam.answer5=="No" and @exam.answer6=="None of both" and @exam.answer7=="None of both" and @exam.answer8!="None of both" %>
           <h3><dd>The total marks scored by you is 7</dd><h3>

<% elsif @exam.answer1!="None of both" and @exam.answer2!="No" and @exam.answer3=="Yes" and @exam.answer4=="Yes" and @exam.answer5=="No" and @exam.answer6=="None of both" and @exam.answer7=="None of both" and @exam.answer8=="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
            <% elsif @exam.answer1!="None of both" and @exam.answer2=="No" and @exam.answer3!="Yes" and @exam.answer4=="Yes" and @exam.answer5=="No" and @exam.answer6=="None of both" and @exam.answer7=="None of both" and @exam.answer8=="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
              <% elsif @exam.answer1!="None of both" and @exam.answer2=="No" and @exam.answer3=="Yes" and @exam.answer4!="Yes" and @exam.answer5=="No" and @exam.answer6=="None of both" and @exam.answer7=="None of both" and @exam.answer8=="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
              <% elsif @exam.answer1!="None of both" and @exam.answer2=="No" and @exam.answer3=="Yes" and @exam.answer4=="Yes" and @exam.answer5!="No" and @exam.answer6=="None of both" and @exam.answer7=="None of both" and @exam.answer8=="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
             <% elsif @exam.answer1!="None of both" and @exam.answer2=="No" and @exam.answer3=="Yes" and @exam.answer4=="Yes" and @exam.answer5=="No" and @exam.answer6!="None of both" and @exam.answer7=="None of both" and @exam.answer8=="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
            <% elsif @exam.answer1!="None of both" and @exam.answer2=="No" and @exam.answer3=="Yes" and @exam.answer4=="Yes" and @exam.answer5=="No" and @exam.answer6=="None of both" and @exam.answer7!="None of both" and @exam.answer8=="None of both" %>
             <h3><dd>The total marks scored by you is 6</dd><h3>
            <% elsif @exam.answer1!="None of both" and @exam.answer2=="No" and @exam.answer3=="Yes" and @exam.answer4=="Yes" and @exam.answer5=="No" and @exam.answer6=="None of both" and @exam.answer7=="None of both" and @exam.answer8!="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
            ###
              <% elsif @exam.answer1=="None of both" and @exam.answer2!="No" and @exam.answer3!="Yes" and @exam.answer4=="Yes" and @exam.answer5=="No" and @exam.answer6=="None of both" and @exam.answer7=="None of both" and @exam.answer8=="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
              <% elsif @exam.answer1=="None of both" and @exam.answer2!="No" and @exam.answer3=="Yes" and @exam.answer4!="Yes" and @exam.answer5=="No" and @exam.answer6=="None of both" and @exam.answer7=="None of both" and @exam.answer8=="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
              <% elsif @exam.answer1=="None of both" and @exam.answer2!="No" and @exam.answer3=="Yes" and @exam.answer4=="Yes" and @exam.answer5!="No" and @exam.answer6=="None of both" and @exam.answer7=="None of both" and @exam.answer8=="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
              <% elsif @exam.answer1=="None of both" and @exam.answer2!="No" and @exam.answer3=="Yes" and @exam.answer4=="Yes" and @exam.answer5=="No" and @exam.answer6!="None of both" and @exam.answer7=="None of both" and @exam.answer8=="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
              <% elsif @exam.answer1=="None of both" and @exam.answer2!="No" and @exam.answer3=="Yes" and @exam.answer4=="Yes" and @exam.answer5=="No" and @exam.answer6=="None of both" and @exam.answer7!="None of both" and @exam.answer8=="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
              <% elsif @exam.answer1=="None of both" and @exam.answer2!="No" and @exam.answer3=="Yes" and @exam.answer4=="Yes" and @exam.answer5=="No" and @exam.answer6=="None of both" and @exam.answer7=="None of both" and @exam.answer8!="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
            ###
            <% elsif @exam.answer1=="None of both" and @exam.answer2=="No" and @exam.answer3!="Yes" and @exam.answer4!="Yes" and @exam.answer5=="No" and @exam.answer6=="None of both" and @exam.answer7=="None of both" and @exam.answer8=="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
            <% elsif @exam.answer1=="None of both" and @exam.answer2=="No" and @exam.answer3!="Yes" and @exam.answer4=="Yes" and @exam.answer5!="No" and @exam.answer6=="None of both" and @exam.answer7=="None of both" and @exam.answer8=="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
            <% elsif @exam.answer1=="None of both" and @exam.answer2=="No" and @exam.answer3!="Yes" and @exam.answer4=="Yes" and @exam.answer5=="No" and @exam.answer6!="None of both" and @exam.answer7=="None of both" and @exam.answer8=="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
            <% elsif @exam.answer1=="None of both" and @exam.answer2=="No" and @exam.answer3!="Yes" and @exam.answer4=="Yes" and @exam.answer5=="No" and @exam.answer6=="None of both" and @exam.answer7!="None of both" and @exam.answer8=="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
            <% elsif @exam.answer1=="None of both" and @exam.answer2=="No" and @exam.answer3!="Yes" and @exam.answer4=="Yes" and @exam.answer5=="No" and @exam.answer6=="None of both" and @exam.answer7=="None of both" and @exam.answer8!="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
            ###
             <% elsif @exam.answer1=="None of both" and @exam.answer2=="No" and @exam.answer3=="Yes" and @exam.answer4!="Yes" and @exam.answer5!="No" and @exam.answer6=="None of both" and @exam.answer7=="None of both" and @exam.answer8=="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
             <% elsif @exam.answer1=="None of both" and @exam.answer2=="No" and @exam.answer3=="Yes" and @exam.answer4!="Yes" and @exam.answer5=="No" and @exam.answer6!="None of both" and @exam.answer7=="None of both" and @exam.answer8=="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
             <% elsif @exam.answer1=="None of both" and @exam.answer2=="No" and @exam.answer3=="Yes" and @exam.answer4!="Yes" and @exam.answer5=="No" and @exam.answer6=="None of both" and @exam.answer7!="None of both" and @exam.answer8=="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
             <% elsif @exam.answer1=="None of both" and @exam.answer2=="No" and @exam.answer3=="Yes" and @exam.answer4!="Yes" and @exam.answer5=="No" and @exam.answer6=="None of both" and @exam.answer7=="None of both" and @exam.answer8!="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
            ##
              <% elsif @exam.answer1=="None of both" and @exam.answer2=="No" and @exam.answer3=="Yes" and @exam.answer4=="Yes" and @exam.answer5!="No" and @exam.answer6!="None of both" and @exam.answer7=="None of both" and @exam.answer8=="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
              <% elsif @exam.answer1=="None of both" and @exam.answer2=="No" and @exam.answer3=="Yes" and @exam.answer4=="Yes" and @exam.answer5!="No" and @exam.answer6=="None of both" and @exam.answer7!="None of both" and @exam.answer8=="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
              <% elsif @exam.answer1=="None of both" and @exam.answer2=="No" and @exam.answer3=="Yes" and @exam.answer4=="Yes" and @exam.answer5!="No" and @exam.answer6=="None of both" and @exam.answer7=="None of both" and @exam.answer8!="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
            ##
             <% elsif @exam.answer1=="None of both" and @exam.answer2=="No" and @exam.answer3=="Yes" and @exam.answer4=="Yes" and @exam.answer5=="No" and @exam.answer6!="None of both" and @exam.answer7!="None of both" and @exam.answer8=="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
             <% elsif @exam.answer1=="None of both" and @exam.answer2=="No" and @exam.answer3=="Yes" and @exam.answer4=="Yes" and @exam.answer5=="No" and @exam.answer6!="None of both" and @exam.answer7=="None of both" and @exam.answer8!="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
            ##
             <% elsif @exam.answer1=="None of both" and @exam.answer2=="No" and @exam.answer3=="Yes" and @exam.answer4=="Yes" and @exam.answer5=="No" and @exam.answer6=="None of both" and @exam.answer7!="None of both" and @exam.answer8!="None of both" %>
           <h3><dd>The total marks scored by you is 6</dd><h3>
            <% else %>
              <h3><dd>Your score is less than 6 try next time to get good score</dd><h3>
    <% end %>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              exams_path, :class => 'btn'  %>

</div>
