<%- model_class = Exam -%>
<div style="background-color:lightblue;"></br></br></br>
<%if current_user%><div style="color:#00ff00;margin-left:1132px;"><h2><%= link_to "Logout", destroy_user_session_path, :method => :delete %> <%end %></h2></div>
<div class="page-header">
  <h1>Exam Results</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:answer1) %>:</strong></dt>
  <dd><%= @exam.answer1 %>
 <% if @exam.answer1=="None of both" %> <b>( Congrats This is correct answer: you have scrored 1 mark)</b>
 <% else %>
 <b>( Sorry the answer is incorrect: the correct one is: None of the both)</b>
  <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:answer2) %>:</strong></dt>
  <dd><%= @exam.answer2 %>
<% if @exam.answer2=="No" %> <b>( Congrats This is correct answer: you have scrored 1 mark)</b>
 <% else %>
 <b>( Sorry the answer is incorrect: the correct one is: No)</b>
  <% end %>
  </dd>  
  <dt><strong><%= model_class.human_attribute_name(:answer3) %>:</strong></dt>
  <dd><%= @exam.answer3 %>
<% if @exam.answer3=="Yes" %> <b>( Congrats This is correct answer: you have scrored 1 mark)</b>
 <% else %>
 <b>( Sorry the answer is incorrect: the correct one is: Yes)</b>
  <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:answer4) %>:</strong></dt>
  <dd><%= @exam.answer4 %>
    <% if @exam.answer4=="Yes" %> <b>( Congrats This is correct answer: you have scrored 1 mark)</b>
 <% else %>
 <b>( Sorry the answer is incorrect: the correct one is: Yes)</b>
  <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:answer5) %>:</strong></dt>
  <dd><%= @exam.answer5 %>
    <% if @exam.answer5=="No" %> <b>( Congrats This is correct answer: you have scrored 1 mark)</b>
 <% else %>
 <b>( Sorry the answer is incorrect: the correct one is: None of the both)</b>
  <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:answer6) %>:</strong></dt>
  <dd><%= @exam.answer6 %>
    <% if @exam.answer6=="None of both" %> <b>( Congrats This is correct answer: you have scrored 1 mark)</b>
 <% else %>
 <b>( Sorry the answer is incorrect: the correct one is: None of the both)</b>
  <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:answer7) %>:</strong></dt>
  <dd><%= @exam.answer7 %>
    <% if @exam.answer7=="None of both" %> <b>( Congrats This is correct answer: you have scrored 1 mark)</b>
 <% else %>
 <b>( Sorry the answer is incorrect: the correct one is: None of the both)</b>
  <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:answer8) %>:</strong></dt>
  <dd><%= @exam.answer8 %>
    <% if @exam.answer8=="None of both" %> <b>( Congrats This is correct answer: you have scrored 1 mark)</b>
 <% else %>
 <b>( Sorry the answer is incorrect: the correct one is: None of the both)</b>
  <% end %>
  </dd>
  <% if @exam.answer1=="None of both" && @exam.answer2=="No" && @exam.answer3=="Yes" && @exam.answer4=="Yes" && @exam.answer5=="No" && @exam.answer6=="None of both" && @exam.answer7=="None of both" && @exam.answer8=="None of both" %> 
  <h3><dd>The total marks scored by you is 8</dd><h3>

 <% elsif @exam.answer1!="None of both" && @exam.answer2=="No" && @exam.answer3=="Yes" && @exam.answer4=="Yes" && @exam.answer5=="No" && @exam.answer6=="None of both" && @exam.answer7=="None of both" && @exam.answer8=="None of both" || @exam.answer1=="None of both" && @exam.answer2!="No" && @exam.answer3=="Yes" && @exam.answer4=="Yes" && @exam.answer5=="No" && @exam.answer6=="None of both" && @exam.answer7=="None of both" && @exam.answer8=="None of both" || @exam.answer1=="None of both" && @exam.answer2=="No" && @exam.answer3!="Yes" && @exam.answer4=="Yes" && @exam.answer5=="No" && @exam.answer6=="None of both" && @exam.answer7=="None of both" && @exam.answer8=="None of both" || @exam.answer1=="None of both" && @exam.answer2=="No" && @exam.answer3=="Yes" && @exam.answer4!="Yes" && @exam.answer5=="No" && @exam.answer6=="None of both" && @exam.answer7=="None of both" && @exam.answer8=="None of both" || @exam.answer1=="None of both" && @exam.answer2=="No" && @exam.answer3=="Yes" && @exam.answer4=="Yes" && @exam.answer5!="No" && @exam.answer6=="None of both" && @exam.answer7=="None of both" && @exam.answer8=="None of both" || @exam.answer1=="None of both" && @exam.answer2=="No" && @exam.answer3=="Yes" && @exam.answer4=="Yes" && @exam.answer5=="No" && @exam.answer6!="None of both" && @exam.answer7=="None of both" && @exam.answer8=="None of both" || @exam.answer1=="None of both" && @exam.answer2=="No" && @exam.answer3=="Yes" && @exam.answer4=="Yes" && @exam.answer5=="No" && @exam.answer6=="None of both" && @exam.answer7!="None of both" && @exam.answer8=="None of both" || @exam.answer1=="None of both" && @exam.answer2=="No" && @exam.answer3=="Yes" && @exam.answer4=="Yes" && @exam.answer5=="No" && @exam.answer6=="None of both" && @exam.answer7=="None of both" && @exam.answer8!="None of both" %>
   <h3><dd>The total marks scored by you is 7</dd><h3>

<% elsif @exam.answer1!="None of both" && @exam.answer2!="No" && @exam.answer3=="Yes" && @exam.answer4=="Yes" && @exam.answer5=="No" && @exam.answer6=="None of both" && @exam.answer7=="None of both" && @exam.answer8=="None of both" || @exam.answer1!="None of both" && @exam.answer2=="No" && @exam.answer3!="Yes" && @exam.answer4=="Yes" && @exam.answer5=="No" && @exam.answer6=="None of both" && @exam.answer7=="None of both" && @exam.answer8=="None of both" ||  @exam.answer1!="None of both" && @exam.answer2=="No" && @exam.answer3=="Yes" && @exam.answer4!="Yes" && @exam.answer5=="No" && @exam.answer6=="None of both" && @exam.answer7=="None of both" && @exam.answer8=="None of both" ||  @exam.answer1!="None of both" && @exam.answer2=="No" && @exam.answer3=="Yes" && @exam.answer4=="Yes" && @exam.answer5!="No" && @exam.answer6=="None of both" && @exam.answer7=="None of both" && @exam.answer8=="None of both" || @exam.answer1!="None of both" && @exam.answer2=="No" && @exam.answer3=="Yes" && @exam.answer4=="Yes" && @exam.answer5=="No" && @exam.answer6!="None of both" && @exam.answer7=="None of both" && @exam.answer8=="None of both" || @exam.answer1!="None of both" && @exam.answer2=="No" && @exam.answer3=="Yes" && @exam.answer4=="Yes" && @exam.answer5=="No" && @exam.answer6=="None of both" && @exam.answer7!="None of both" && @exam.answer8=="None of both" || @exam.answer1!="None of both" && @exam.answer2=="No" && @exam.answer3=="Yes" && @exam.answer4=="Yes" && @exam.answer5=="No" && @exam.answer6=="None of both" && @exam.answer7=="None of both" && @exam.answer8!="None of both" ||  @exam.answer1=="None of both" && @exam.answer2!="No" && @exam.answer3!="Yes" && @exam.answer4=="Yes" && @exam.answer5=="No" && @exam.answer6=="None of both" && @exam.answer7=="None of both" && @exam.answer8=="None of both" ||  @exam.answer1=="None of both" && @exam.answer2!="No" && @exam.answer3=="Yes" && @exam.answer4!="Yes" && @exam.answer5=="No" && @exam.answer6=="None of both" && @exam.answer7=="None of both" && @exam.answer8=="None of both" || @exam.answer1=="None of both" && @exam.answer2!="No" && @exam.answer3=="Yes" && @exam.answer4=="Yes" && @exam.answer5!="No" && @exam.answer6=="None of both" && @exam.answer7=="None of both" && @exam.answer8=="None of both" ||  @exam.answer1=="None of both" && @exam.answer2!="No" && @exam.answer3=="Yes" && @exam.answer4=="Yes" && @exam.answer5=="No" && @exam.answer6!="None of both" && @exam.answer7=="None of both" && @exam.answer8=="None of both" ||  @exam.answer1=="None of both" && @exam.answer2!="No" && @exam.answer3=="Yes" && @exam.answer4=="Yes" && @exam.answer5=="No" && @exam.answer6=="None of both" && @exam.answer7!="None of both" && @exam.answer8=="None of both" ||  @exam.answer1=="None of both" && @exam.answer2!="No" && @exam.answer3=="Yes" && @exam.answer4=="Yes" && @exam.answer5=="No" && @exam.answer6=="None of both" && @exam.answer7=="None of both" && @exam.answer8!="None of both" || @exam.answer1=="None of both" && @exam.answer2=="No" && @exam.answer3!="Yes" && @exam.answer4!="Yes" && @exam.answer5=="No" && @exam.answer6=="None of both" && @exam.answer7=="None of both" && @exam.answer8=="None of both" || @exam.answer1=="None of both" && @exam.answer2=="No" && @exam.answer3!="Yes" && @exam.answer4=="Yes" && @exam.answer5!="No" && @exam.answer6=="None of both" && @exam.answer7=="None of both" && @exam.answer8=="None of both" || @exam.answer1=="None of both" && @exam.answer2=="No" && @exam.answer3!="Yes" && @exam.answer4=="Yes" && @exam.answer5=="No" && @exam.answer6!="None of both" && @exam.answer7=="None of both" && @exam.answer8=="None of both" || @exam.answer1=="None of both" && @exam.answer2=="No" && @exam.answer3!="Yes" && @exam.answer4=="Yes" && @exam.answer5=="No" && @exam.answer6=="None of both" && @exam.answer7!="None of both" && @exam.answer8=="None of both" || @exam.answer1=="None of both" && @exam.answer2=="No" && @exam.answer3!="Yes" && @exam.answer4=="Yes" && @exam.answer5=="No" && @exam.answer6=="None of both" && @exam.answer7=="None of both" && @exam.answer8!="None of both" ||  @exam.answer1=="None of both" && @exam.answer2=="No" && @exam.answer3=="Yes" && @exam.answer4!="Yes" && @exam.answer5!="No" && @exam.answer6=="None of both" && @exam.answer7=="None of both" && @exam.answer8=="None of both" || @exam.answer1=="None of both" && @exam.answer2=="No" && @exam.answer3=="Yes" && @exam.answer4!="Yes" && @exam.answer5=="No" && @exam.answer6!="None of both" && @exam.answer7=="None of both" && @exam.answer8=="None of both" ||  @exam.answer1=="None of both" && @exam.answer2=="No" && @exam.answer3=="Yes" && @exam.answer4!="Yes" && @exam.answer5=="No" && @exam.answer6=="None of both" && @exam.answer7!="None of both" && @exam.answer8=="None of both" ||  @exam.answer1=="None of both" && @exam.answer2=="No" && @exam.answer3=="Yes" && @exam.answer4!="Yes" && @exam.answer5=="No" && @exam.answer6=="None of both" && @exam.answer7=="None of both" && @exam.answer8!="None of both" ||  @exam.answer1=="None of both" && @exam.answer2=="No" && @exam.answer3=="Yes" && @exam.answer4=="Yes" && @exam.answer5!="No" && @exam.answer6!="None of both" && @exam.answer7=="None of both" && @exam.answer8=="None of both" ||  @exam.answer1=="None of both" && @exam.answer2=="No" && @exam.answer3=="Yes" && @exam.answer4=="Yes" && @exam.answer5!="No" && @exam.answer6=="None of both" && @exam.answer7!="None of both" && @exam.answer8=="None of both" ||  @exam.answer1=="None of both" && @exam.answer2=="No" && @exam.answer3=="Yes" && @exam.answer4=="Yes" && @exam.answer5!="No" && @exam.answer6=="None of both" && @exam.answer7=="None of both" && @exam.answer8!="None of both" || @exam.answer1=="None of both" && @exam.answer2=="No" && @exam.answer3=="Yes" && @exam.answer4=="Yes" && @exam.answer5=="No" && @exam.answer6!="None of both" && @exam.answer7!="None of both" && @exam.answer8=="None of both" || @exam.answer1=="None of both" && @exam.answer2=="No" && @exam.answer3=="Yes" && @exam.answer4=="Yes" && @exam.answer5=="No" && @exam.answer6!="None of both" && @exam.answer7=="None of both" && @exam.answer8!="None of both" || @exam.answer1=="None of both" && @exam.answer2=="No" && @exam.answer3=="Yes" && @exam.answer4=="Yes" && @exam.answer5=="No" && @exam.answer6=="None of both" && @exam.answer7!="None of both" && @exam.answer8!="None of both" %>
<h2> Total marks scored by you is 6</h2>
<% else %>
<h2> You scored less than 6, better luck next time </h2>
  <% end %>
</dl>

<div class="">
  <%= link_to 'Back', exams_path, :class => 'btn btn-primary'  %>

</div></br></br></br></br></br></br></br></br></br></br></br></br></br>
</div>